.single-logo img {
  max-width: 130px;
  max-height: 130px;
}

.counter-content ul {
  list-style: disc;
}
.counter-content ul li {
  margin-bottom: 20px;
}

.list-disc {
  list-style-type: disc !important;
}

.list-decimal {
  list-style-type: decimal !important;
}
